PORT=3000

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=homefinder_db

SESSION_SECRET=homefinder_secure_session_key_2026
JWT_SECRET=homefinder_secure_jwt_key_2026

GOOGLE_MAPS_API_KEY=
GOOGLE_PLACES_API_KEY=

PAYHERO_USERNAME=
PAYHERO_PASSWORD=
PAYHERO_CHANNEL_ID=
PAYHERO_CALLBACK_URL=http://localhost:3000/payments/callback

GEMINI_API_KEY=
